* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #eee;
}



img {
  width: 10%;
  margin: 30px;

.bike {
  width: 30%;
  height: 30%;
  background: #00628c;
  border-radius: 50%;

}

h1 {
  border-bottom: solid 3px black;
  padding: 30px;


}

.border-top {
  border-bottom: solid 3px black;
  padding: 50px;
}
/*****************FOOTER*******************/

footer {
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-top: 1%;
}

hr {
  width: 100%;
  border-top: 3px solid black;
}

section img{
  width: 30%;
  height: 240px;
  margin: 2% 1% 2% 1%;
  border: solid 5px;

}

@media (max-width:768px) {
  .images {
    display: none;
  }
}

@media (max-width:768px) {
  .imageone {
    width: 95%;
  }
}
