* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #eee;
}


.container {
  text-align: center;
}

.section {
  vertical-align: middle;
}

.bike {
  height: 110px;
  width: 110px;
}

.circle {
  width: 170px;
  height: 150px;
  background: #00628c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
}

h1 {
  border-bottom: solid 3px black;
  padding: 30px;


}

.border-top {
  border-bottom: solid 3px black;
  padding: 50px;
}
/*****************FOOTER*******************/

footer {
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-top: 1%;
}

hr {
  width: 100%;
  border-top: 3px solid black;
}

section img{
  width: 30%;
  height: 240px;
  margin: 2% 1% 2% 1%;
  /* border: solid 5px; */

}

@media (max-width:768px) {
  .images {
    display: none;
  }
}

@media (max-width:768px) {
  .imageone {
    width: 95%;
  }
}
