* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  text-align: center;
}

<<<<<<< HEAD

img {
  width: 10%;
  margin: 30px;
}

h1 {
  border-bottom: solid 3px black;
  padding-bottom: 30px;


}

.border-top {
  border-bottom: solid 3px black;
  padding: 50px;
}
/*****************FOOTER*******************/

footer {
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-top: 1%;
}

hr {
  width: 100%;
  border-top: 3px solid black;
}

section img{
  width: 30%;
  height: 240px;
  margin: 2% 1% 2% 1%;
  border: solid 5px;

}
